*{
margin: 0;
padding: 0;
}
table{
    background-color: rgb(161, 221, 115);
    /* background-image: url(bcg2.jpg); */
    background-size: 90%; 
    width: 100%;
    height: 100%;
    background-position: -400px 0px;
}
h2{     
    background-color: rgb(161, 221, 115);
    text-align: center;
    padding: 20px; 
    font-family: sans-serif;
    }
    
    div.main{
    
        width: 400px;
        margin: 100px auto 0px auto; 
        }
        h2{     
        text-align: center;
        padding: 20px; 
        font-family: sans-serif;
        }